<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<section class="container py-5">
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">Editar Artigo</h3>
    </div>
    <div class="card-body">
      <form action="/articles/update" method="POST">
        <input type="hidden" name="id" value="<%= article.id %>">
        <div class="mb-3">
          <label for="category" class="col-form-label">Categoria</label>
          <select name="category" id="category" class="form-control">
            <% categories.forEach(category => { %>
              <option value="<%= category.id %>" <%= category.id === article.categoryId ? 'selected' : '' %> ><%= category.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="mb-3">
          <label for="title" class="col-form-label">Título</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="Título" value="<%= article.title %>" required>
        </div>
        <div class="mb-3">
          <label for="articleContent" class="col-form-label">Conteúdo</label>
          <textarea name="content" id="articleContent" class="form-control" placeholder="Escreva o conteúdo do artigo aqui" rows="10"><%= article.content %></textarea>
        </div>
        <button class="btn btn-success">Salvar Alterações</button>
      </form>
    </div>
  </div>
</section>

<%- include('../partials/footer.ejs') %>